#task {
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    text-align: center;
    font-weight: 700;
    color: white;
}

#talk {
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    text-align: center;
    font-weight: 100;
    color: #151515;
}

#htag {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: 100;
    color: white;
}

#logo {
    //position: absolute;
    //bottom: 350px;
    display: block;
    margin: 0 auto;
    left: 47%;
    height: 69px;
    width: 73px;
}

.QuokkaTitle {
    height: 30px;
    width: 150px;
    fill: white;
    position: absolute;
    bottom: 15px;
    right: 25px;
    font-size: 18px;
}

#date {
    position: relative;
    vertical-align: text-top;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 100;
}

#heure {
    position: relative;
    vertical-align: text-top;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
}