  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .QuokkaTitle {
    height: 30px;
    width: 150px;
    fill: white;
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}